
@model List<Ecommerce.DAL.Tbl_Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/Admin_LayoutPage1.cshtml";
}



<div class="container-fluid px-4">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Categories</li>
    </ol>
    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Category details
            <a href="@Url.Action("AddCategory", "Admin")" class="btn btn-info pull-right"><i class="fa fa-plus"></i>Add new</a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Category name</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Category name</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @{
                        foreach (var item in Model) {
                            <tr>
                                <td>@(Model.IndexOf(item)+1)</td>
                                <td>@item.CategoryName</td>
                                <td>@Html.ActionLink("Edit", "CategoryEdit", new { categoryId = item.CategoryId})</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>